CONFIG_CPU_CLK_SRC_160M=y
CONFIG_HEAP_BOUNDARY_CHECK=y
# CONFIG_SDIO_SLAVE is not set
CONFIG_QUAD_SPI=y
CONFIG_DRV_UNIT_TEST=y
CONFIG_DRV_UNIT_TEST_TIMER=y
CONFIG_DRV_UNIT_TEST_RTC=y
CONFIG_DRV_UNIT_TEST_FLASH=y
CONFIG_DRV_UNIT_TEST_GPIO=y
CONFIG_DRV_UNIT_TEST_EFUSE=y
CONFIG_DRV_UNIT_TEST_UART=y
CONFIG_DRV_UNIT_TEST_PWM=y
CONFIG_DRV_UNIT_TEST_AES=y
CONFIG_DRV_UNIT_TEST_HASH=y
CONFIG_DRV_UNIT_TEST_TRNG=y
CONFIG_DRV_UNIT_TEST_WDT=y
CONFIG_DRV_UNIT_TEST_ADC=y
CONFIG_DRV_UNIT_TEST_SPI=y
CONFIG_BLE_EMB_PRESENT=y
CONFIG_CMD_WIFI_AMT_VERSION=y
CONFIG_CMD_WDT=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_SMARTCONFIG=y
CONFIG_CMD_OTA_SERVICE=y
CONFIG_CMD_IPERF_3=y
CONFIG_CMD_EFUSE=y
CONFIG_IPV6=y
# CONFIG_ECR6600_DBGTRIM is not set
CONFIG_WIRELESS_WPA3_SUPPORT=y
CONFIG_WIFI_DRV_RECV_BUF_SIZE=4096
CONFIG_WIRELESS_IPERF_3=y
CONFIG_WIFI_SMARTCONFIG=y
CONFIG_TELNET=y
CONFIG_BLE_EXAMPLES_NETCFG_SLAVE=y
CONFIG_OTA=y
CONFIG_OTA_LOCAL=y
CONFIG_OTA_SERVICE=y
